{% extends "header.html" %}
{% load staticfiles%}
{% block content %}
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="col-md-10 col-centered container-fluid">

    <h1 class="text-center pb-5"> ვინ ვართ და რა გვინდა</h1>

<div class="col-md-12 text-center "><p>ჩვენი მიზანი მარტივია: დავეხმაროთ ადამიანებს, დაიცვან საკუთარი პირადი ინფორმაცია.<br>
    ამისთვის კი ვიყენებთ ყველა გზას, იქნება ეს მომხმარებლების დატროლვა თუ მარტივი,3-4 წუთიანი გაკვეთილები.
    <br> <b>ჩვენ გვჯერა, რომ შესაძლებელია ინტერნეტის უფრო დაცულ და უსაფრთხო სივრცედ ქცევა, ამისთვის კი <span class="text-green">თქვენი</span>  დახმარება გვჭირდება </b>
    </p>
    <h1 class="text-center "> როგორ შეძლებთ ჩვენს დახმარებას?</h1>
    </div>

     <ul class="pb-5">
        <h4 class="text-dark "><i class="fa fa-check-square-o text-warning" aria-hidden="true"></i>გააზიარეთ ქვიზები ან სტატიები, აცნობეთ თქვენს მეგობრებს იმ საფრთხეების შესახებ, რომელიც ინტერნეტში არსებობს </li> </h4>
        <h4 class="text-dark "><i class="fa fa-check-square-o text-warning" aria-hidden="true"></i>დაალაქიეთ ჩვენი ფეისბუქის გვერდი, მიიღეთ ახალი საჭირო ინფორმაცია საინტერესო ფორმატით </h4>
        <h4 class="text-dark "><i class="fa fa-check-square-o text-warning" aria-hidden="true"></i>გადახედეთ ჩვენს 3-4 წუთიან კურსებს, რა იცით, რაში გამოგადგეთ</h4>
        <h4 class="text-dark "><i class="fa fa-check-square-o text-warning" aria-hidden="true"></i>დაარეპორტეთ ან მოგვწერეთ იმ გვერდების ან ჯგუფების შესახებ, რომლებიც ხალხით მანიპულირებენ </h4>
        <h4 class="text-dark "><i class="fa fa-check-square-o text-warning" aria-hidden="true"></i>მოგვწერეთ რჩევები, შენიშვნები, ან უბრალოდ თქვენი იდეები </h4>
        <h4 class="text-dark "><i class="fa fa-check-square-o text-warning" aria-hidden="true"></i>შემოგვიერთდით, და ერთად შევქმნათ დაცული ონლაინ სივრცე   </h4>


    </ul>

    <h3 class="text-center pb-5"> ჯგუფის წევრები</h3>
    <div class="row col-centered col-md-10">
        <div class="col-md-6">
            <img class="col-md-12 profile_picture "
                 src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/18157465_1838707799478472_7396349246207500513_n.jpg?_nc_cat=0&oh=8694bf1821894f54670ba05305d39ab1&oe=5B65F4F3">

        </div>
          <div class="col-md-6 pb-2">
              <h5 class="pb-5">ანდრო გვივრაძე</h5>

    <p class="pb-4">ჯერ-ჯერობით ერთადერთი და განუმეორებელი დეველოპერი, კონტენტ მენეჯერი, მარკეტერი, ყველაფერშნიკი და პროსტა კაი ტიპი</p>
 <h4 class="text-center">შეგიძლიათ მომწეროთ აქ <a href="https://www.facebook.com/andro.gvivradze" class="fa fa-facebook"></a>, ან აქ <a class="fa fa-linkedin"
                                                         href="https://www.linkedin.com/in/gvivradze-andro/"></a>
                , ან აქ
                <a href="https://github.com/andro19951" class="fa fa-github"></a></h4>
          </div></div></div>
{% endblock %}

