{% extends "header.html" %}
{% load staticfiles %}
{% block content %}
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="col-md-10 col-centered container-fluid">

        <h3 class="text-center pb-5"> თუკი გგონიათ, რომ დასამალი არაფერი გაქვთ, დაფიქრდით:</h3>


        <ul class="pb-5">
                <h4 class="text-dark "><i class="fa fa-bolt text-warning" aria-hidden="true"></i>გსურთ თუ არა,
                რომ თქვენი იდენტობა მოიპარონ და თქვენი სახელით სხვადასხვა ქმედება განახორციელონ?</h4>
                <h4 class="text-dark "><i class="fa fa-bolt text-warning" aria-hidden="true"></i>
                ხმარობთ თუ არა საკრედიტო ბარათს? </h4>
                <h4 class="text-dark "><i class="fa fa-bolt text-warning" aria-hidden="true"></i>
                    გიწევთ თუ არა სამსახურის კონფიდენციალური ინფორმაციის კომპიუტერში შენახვა?</h4>
                <h4 class="text-dark "><i class="fa fa-bolt text-warning" aria-hidden="true"></i>იყენებთ თუ
                    არა ფასიან ონლაინ სერვისს?</h4>
                <h4 class="text-dark "><i class="fa fa-bolt text-warning" aria-hidden="true"></i>მოგწონთ თუ არა,
                როცა თქვენით მანიპულირებენ? </h4>
                <h4 class="text-dark "><i class="fa fa-bolt text-warning" aria-hidden="true"></i>გსურთ თუ არა,
                რომ ყოველდღიურად გითვალთავლებდნენ?</h4>
                <h4 class="text-dark "><i class="fa fa-bolt text-warning" aria-hidden="true"></i>გსურთ თუ არა,
                რომ თქვენს თითოეულ გაგზავნილ წერილს და მესიჯს კითხულობდნენ?</h4>
        </ul>

        <h3 class="text-center pb-5"> თუკი ერთ კითხვაზე მაინც გაქვთ უარყოფითი პასუხი, ესე იგი,
            თქვენ გჭირდებათ ინტერნეტში თავის დაცვა
        </h3>

    </div>
{% endblock %}

