{% extends "header.html" %}
{% load staticfiles %}
{% block content %}
    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.js"></script>
    <div class="row">
        <div class="first-task">
        </div>
        <div class="col-md-10 col-centered">
            <!--Section description-->
            <div class="col-md-10 col-centered background1">
                <h2 class="text-center py-5  upperKa">ბოტტროლი შოპინგობს </h2>

                <section id="faq" class="section-padding col-centered">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-title-header text-center "><h1 class="upperKa">ერთად დავიცვათ ჩვენი
                                    ბარათები</h1>
                                    <p class="wow fadeInDown" data-wow-delay="0.2s"> ყოველწლიურად მილიონზე მეტი ადამიანი
                                        ხდება ონლაინ მაქინაციების მსხვერპლი. აი როგორ შეიძლება მსგავსი მაქინაციებსგან
                                        თავის არიდება</p>

                                    <h5> მეტი ინფორმაციისთვის დააჭირეთ წინადადებებს</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                <div class="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <div class="header-title" data-toggle="collapse" data-target="#questionOne"
                                                 aria-expanded="true" aria-controls="collapseOne">
                                                <i class="lni-pencil"></i> <b>არასოდეს </b> აყვეთ აბსურდულ შეთავაზებებს
                                            </div>
                                        </div>
                                        <div id="questionOne" class="collapse" aria-labelledby="headingOne"
                                             data-parent="#question">
                                            <div class="card-body">
                                                არა, bzshvlviyomartalisaiti4.ucoz.com არ აპირებს, რომ 5 ლარად 2 კაციანი
                                                საგზური მოგყიდოთ. დაიმახსოვრეთ, რომ უფასო დედამიწაზე არაფერია და
                                                თუკი პირდაპირ არ გეუბნებიან, რა მოგებას ელოდებიან თქვენგან, დიდი
                                                ალბათობით იმიტომ, რომ თქვენი გაქურდვა უნდათ
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <div class="header-title" data-toggle="collapse" data-target="#questionTwo"
                                                 aria-expanded="false" aria-controls="questionTwo">
                                                <i class="lni-pencil"></i> <b>მოერიდეთ</b> ღია wifi-დან გადახდების
                                                შესრულებას
                                            </div>
                                        </div>
                                        <div id="questionTwo" class="collapse" aria-labelledby="headingTwo"
                                             data-parent="#question">
                                            <div class="card-body">
                                                ამ თემაზე ცალკე კურსს შევქმნით, მანამდე კი დაიმახსოვრეთ, ღია wifi და
                                                თქვენი საკრედიტო ბარათის ინფორმაცია არც თუ ისე კარგი შედეგის
                                                მომტანი იქნება
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <div class="header-title" data-toggle="collapse"
                                                 data-target="#questionThree" aria-expanded="false"
                                                 aria-controls="questionThree">
                                                <i class="lni-pencil"></i> <b> არასოდეს </b> არავის არ გაუზიაროთ თქვენი
                                                ბარათის ინფორმაცია
                                            </div>
                                        </div>
                                        <div id="questionThree" class="collapse" aria-labelledby="headingThree"
                                             data-parent="#question">
                                            <div class="card-body">
                                                უმარტივესი და უმნიშვნელოვანესი მცნება. თუკი თქვენი ბარათის ინფორმაციას
                                                ვინმეს გაუზიარებთ მეილით, ჩათში, ტელეფონზე, ან სხვა ნებისმიერი გზით,
                                                არ აქვს მნიშვნელობა ვის, ჩათვალეთ, რომ თქვენი ბარათი უკვე ბოროტმოქმედის
                                                ხელშია.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                <div class="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingTwo2">
                                            <div class="header-title" data-toggle="collapse" data-target="#questionTwo2"
                                                 aria-expanded="false" aria-controls="questionTwo">
                                                <i class="lni-pencil"></i> გადაიხადეთ მხოლოდ სანდო ბრენდების ვებსაიტებზე
                                            </div>
                                        </div>
                                        <div id="questionTwo2" class="collapse" aria-labelledby="headingTwo"
                                             data-parent="#question">
                                            <div class="card-body">
                                                ესეც მარტივი მცნებაა. გამოიყენეთ თქვენი ბარათი მხოლოდ ისეთ ვებსაიტებზე,
                                                რომლებსაც იცნობთ და აბსოლუტურად ენდობით
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <div class="header-title" data-toggle="collapse" data-target="#questionFive"
                                                 aria-expanded="false" aria-controls="questionFive">
                                                <i class="lni-pencil"></i>ყოველთვის შეამოწმეთ მისამართი!!!
                                            </div>
                                        </div>
                                        <div id="questionFive" class="collapse" aria-labelledby="headingThree"
                                             data-parent="#question">
                                            <div class="card-body">
                                                ყოველთვის შეამოწმეთ მისამართი!!! დარწმუნდით, რომ გამოსახული ვებსაიტის
                                                მისამართი სწორია, და რომ ვებსაიტის მისამართს წინ https აწერია.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <div class="header-title" data-toggle="collapse" data-target="#questionSix"
                                                 aria-expanded="false" aria-controls="questionSix">
                                                <i class="lni-pencil"></i>გამოიყენეთ ონლაინ გადახდის სერვისები
                                            </div>
                                        </div>
                                        <div id="questionSix" class="collapse" aria-labelledby="headingThree"
                                             data-parent="#question">
                                            <div class="card-body">
                                                PayPal ან Goolge Checkout კიდევ ერთი საშუალებებია,რომ თქვენი ონლაინ
                                                გადახდა დაცულად განახორციელოთ
                                                ამასთან ორივე აგინაზღაურებთ დანაკარგს, თუკი 60 დღის მანძილზე
                                                შეატყობინებთ, რომ ვინმემ თქვენი ბარათით
                                                არაავტორიზებული გადახდა განახორციელა
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


            </section>


            <h3 class="text-center py-5  upperKa">უსაფრთხოება უპირველეს ყოვლისა</h3>
            <p class=" pb-5 text-center "> ბოტტროლმა გადაწყვიტა, რომ თავის მეგობარ ჯადოქარს დაბადების დღისთვის ოქროს
                კვერთხი აჩუქოს. აი, იპოვა კიდეც სასურველი საჩუქარი და ვებსაიტმაც საკრედიტო ბარათის ინფრომაცია მოსთხოვა.
                დააკვირდით ვებსაიტს და დაფიქრდით, რამდენად ჭკვიანურია ამ ვებსაიტისთვის ინფორმაციის მიცემა? </h5>
            <h5 class="text-center">პასუხის სანახავად დააჭირეთ ღილაკს</h5>

        </div>

        <div id="main-slide" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#main-slide" data-slide-to="0" class="active"></li>
                <li data-target="#main-slide" data-slide-to="1"></li>
                <li data-target="#main-slide" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img class="d-block col-centered  w-80" src={% static "assets/img/trollbey.png" %} alt="First slide">
                    <div class="carousel-caption d-md-block">
                        <h1 class="wow fadeInDown heading" data-wrap="false" data-ride="false"
                            data-wow-delay="36s"></h1>
                        <button class="answer-show btn green"
                                onclick="swal('პასუხი','შეამჩნიეთ  http ვებსაიტის მისამართის წინ? ეს ნიშნავს, რომ ვებსაიტზე ჩაწერილი ინფორმაცია დაშიფრული არაა და ვებსატის მფლობელს ნებისმიერ დროს შეეძლება თქვენი საკრედიტო ბარათის ინფორმაციის გამოყენება','info')">
                            პასუხის ნახვა
                        </button>
                    </div>
                </div>
            </div>
            <a class="carousel-control-next" href="#main-slide" role="button" data-slide="next">
                <span class="carousel-control" aria-hidden="true"><i class="lni-chevron-right"></i></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        </a>
    </div>
    <div class="col-centered col-md-7">
        <div class=" row col-centered background1">
            <div class="col-md-5 ">
                <h3 class="text-center py-5  upperKa ">მეგობარი ტროლის პატარა რჩევა</h3>
                <p class=" pb-5 text-center "><b>ყოველთვის</b> დარწმუნდით, რომ იმ ვებსაიტის წინ, რომელშიც საკრედიტო
                    ინფორმაციას წერთ, https წერია. https პროტოკოლი თქვენს ინფორმაციას შიფრავს, რაც ინფორმაციის მოპარვას
                    გაცილებით რთულს ხდის </p>
            </div>

            <div class=col-md-6>
                <img class="col-md-10" src={% static "assets/img/troll.png" %}></div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <!-- Main Carousel Section End -->
    <!-- Ask Question Section Start -->

    <!-- Ask Question Section End -->
    <br/>
    <br/>
    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
        <i class="lni-chevron-up"></i>
    </a>
    </div>
    </div>
    </div>
    <script type="text/javascript">
        $("#first-task").click(function () {

        })
    </script>{% endblock %}


